$primary-color:#0f0f0f;
$secondary-color:#ffc400;//h2 color and big heading o hero
$tertiary-color:#130e37;//darkblue , color of h1

$gray-light:#f5f3f3;
$gray-dark:hsl(0, 0%, 6%);

$black: #0f0e0e;
$marigold: #ffc400;
$dark-indigo: #130e37;
$white: #ffffff;
$black-two: #0f0f0f;