svg{
    // width:100%;
    margin:0;
    padding:0;
    @include respondDown-md{
        margin:0;
        padding:0;
        width:100%;
    }
     }
.map-bg{
    stroke:#130e37;
    stroke-width:1;
    stroke-miterlimit:10;
    z-index:-1;
    // width:500px;
}
.map-bg:hover{
   fill:#ffc400;
}
.txt{
z-index:1090;
fill:#130e37;
font-size:28px;
}
