.blog{
    background: url("/img/industry.jpg") no-repeat;
    background-size:50% 95%;
    background-position:-34% bottom;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    position: relative;
    height: 100vh;
    width:100%;
    color:$black;
    }
    .news{
    background: url("/img/man.png") no-repeat;
    background-size:40% 95%;
    background-position:110% bottom;
    background-color:$white;
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
    position: relative;
    height: 100vh;
    width:100%;
    color:$black;
    }